.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input, textarea{
    width: 70%;
    height: 50px;
    margin-bottom: 10px;
}